*,body,html {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html{
    background-color: #f4f5f5;
}
.AppbarContainer{
    max-width: 1200px;
    margin: auto;
}
.main-header{
    color: #909090;
    box-shadow: 2px 2px 5px #00000008;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: inherit;
    background-color: #ffffff8c;
    overflow: hidden;
    /*transition: all .2s;*/
}
.main-header:before{
    content: "";
    position: absolute;
    height: 100px;
    width: 110%;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgb(255,255,255,.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-list > li > a{
    display: inline-block;
    height: 4rem;
    padding: 0 1.7rem;
    line-height: 4rem;
    color: #86909c;
    position: relative;
    text-decoration: none;
    transition: all .5s;
    width: 35px;
}
.titleActivation {
    font-weight: bold;
    width: 50px !important;
}

.nav-list > li > a:hover {
    font-weight: bold;
    width: 50px;
}

.view-container{
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 960px;
    margin-top: 5.17rem;
}
.entry-list-container{
    border-radius: 2px;
    width: 700px;
}
.entry-list-container-article{
    width: 700px;
    background: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.entry-sidebar{
    width: 240px;
    /*position: fixed;*/
    /*top: 5.17rem;*/
    /*left: 920px;*/
    z-index: 1;
    margin-left: 10px;
}
.article_lists{
    list-style: none;
}
.article_lists article {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all .5s;
    cursor: pointer;
}
.article_lists article >a {
    text-decoration: none;
}
.article_content{
    padding-right: 10px;
    flex: 1;
}
.article_lists > li .cover_pic{
    width: 180px;
    height: 90px;
    object-fit: cover;
}
.article_lists li:hover{
    background: #f9f9f9;
    box-shadow: 2px 2px 5px #00000008;
    /*border: 1px solid #cacaca;*/
}
.article_box{
    display: flex;
}

.tagsbox> a {
    flex-shrink: 0;
    font-size: 13px;
    line-height: 22px;
    padding-right: 4px;
    color: #86909c;
    text-decoration: none;
}
.tagsbox> a:hover {
    color: #0c7bff;
}
.article_title {
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height:  45px;
    color: #1d2129;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.article_dec {
    min-height: 30px;
    color: #86909c;
    font-size: 13px;
    line-height: 22px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /*-webkit-line-clamp: 1;*/
}
.article_time {
    height: 20px;
    line-height: 22px;
    font-size: 13px;
    flex-shrink: 0;
    color: #86909c;
}
.paging{
    display: flex;
    margin-bottom: 50px;
}
.paging-list {
    list-style: none;
    display: flex;
}

.paging-list > li {

}
.paging-list > .active_page {
    padding: 0px 8px;
    background: #409eff;
    color: #fff;
}

.pagingbefore:hover,.pagingnext:hover {
    color: #409eff;
}
.pagingbefore,.pagingnext{
    text-decoration: none;
    color: #606266;
    height: 25px;
    background: white;
    padding: 0 5px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    -moz-user-select:none;		/* 火狐 */
    -webkit-user-select:none;	/* 谷歌 */
    -ms-user-select:none;		/* IE */
    user-select:none;
}
.pagingbefore {
    margin-right: 4px;
}
.paging-list >li {
    /*padding: 0px 8px;*/
    height: 25px;
    font-size: 16px;
    background: white;
    line-height: 25px;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    color: #606266;
    -moz-user-select:none;		/* 火狐 */
    -webkit-user-select:none;	/* 谷歌 */
    -ms-user-select:none;		/* IE */
    user-select:none;
}
.paging-list >li >a{
    display: block;
    padding: 0px 8px;
    border-radius: 4px;
    height: 25px;
    font-size: 16px;
    background: white;
    line-height: 25px;
    text-decoration: none;
    color: #606266;
    transition: all .2s;
}
.paging-list >li >a:hover {
    background: #409eff;
    color: #fff;
}

.disable_click {
    color: #c0c4cc;
    cursor: not-allowed;
}

.disable_click:hover {
    color: #c0c4cc;
    cursor: not-allowed;
}

.search-input{
    color: #666;
    box-shadow: none;
    padding: 6px 6px 6px 6px;
    outline: none;
    font-size: 16px;
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 6px;
    transition: all 10s;
    width: 100%;
}

.searchbox {
    padding: 10px;
    background: #fff;
    border-radius: 6px;
}

.showTags {
    margin-top: 10px;
    margin-bottom: 5px;
}
.showTags > a {
    text-decoration: none;
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #8a9aa9;
    padding: 4px 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .8s;
}
.showTags > a:hover {
    background: #409eff;
    color: white;
}

.tagsitemSelect {
    background: #409eff !important;
    color: white !important;
}

.CopyrightInformation {
    color: #909090;
    font-size: 13.5px;
    line-height: 20px;
}
.friendshipLinktitle {
    display: block;
    color: #666;
    height: 22px;
}
.friendshipLink {
    margin-bottom: 5px;
}
.linkitem {
    text-decoration: none;
    margin-top: 5px;
    color: #909090;
    font-size: 13.5px;
}
.linkitem:hover {
    color: #409eff;
}
.linkitem::after {
    content: "·";
    margin: 0 4px;
    color: #c6cfda;
}
.linkitem:last-child:after{
    content: "" !important;
}
pre code.hljs:before{
    content: "";
    display: block;
    background: url(https://janiokq-1258515721.cos.ap-guangzhou.myqcloud.com/macIcon.webp);
    height: 32px;
    width: 10%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    background-position: 5px 10px;
    top: -2px;
    left: 10px;
}
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}
pre code.hljs {
    border-radius: 6px;
    display: block;
    overflow-x: auto;
    padding: 1.4em 1em 1em 1em;
    position: relative;
}
.ArticleContentBody h1,.ArticleContentBody h2,.ArticleContentBody h3,.ArticleContentBody h4,.ArticleContentBody h5,.ArticleContentBody h6{
    margin: 1.4em 0 .8em;
    font-weight: bold;
}
.ArticleContentBody p code {
    color: #3594f7;
    background: rgba(59,170,250,.1);
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    height: 21px;
    line-height: 22px;
}
.ArticleContentBody a {
    text-decoration: none;
    color: #2d8cf0;
    transition: color .3s;
}
.ArticleContentBody  blockquote {
    margin: 20px 0;
    padding: .5em 1.2em;
    line-height: 2em;
    background-color: #ececec;
    border-left: 5px solid #35b378;
    display: block;
}
.ArticleContentBody  table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.ArticleContentBody img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    /*box-shadow: 0px 1px 4px 0px #8f8f8f61;*/
}
.ArticleContentBody table tr th, .ArticleContentBody table tr td {
    word-wrap: break-word;
    padding: 6px 13px;
    border: 1px solid #e6e6e6;
}
.ArticleContentBody table tr:hover {
    background-color: #eee;
}
.needPostionRelative {
    position: relative;
}
.fixedPosition {
    position: fixed;
}
.relatedRecommend {
    background: white;
    border-radius: 6px;
}
.relatedRecommend > .friendshipLinktitle{
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid hsla(0,0%,58.8%,.1);
}
.RecommendItemArticle {
    display: block;
    padding: 6px 15px;
    border-bottom: 1px solid hsla(0,0%,58.8%,.1);
    cursor: pointer;
    transition: background 1s;
}
.RecommendItemArticle:hover{
    background: hsla(0,0%,58.8%,.1);
}
.RecommendItemArticle > a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}
.reArticleTitle {
    color: #333;
    font-size: 14px;
    margin-bottom: 4px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width: 200px;
}
.reArticleTime {
    color: #b2bac2;
    font-size: 12px;
}
.life-header {
    transition: top 0.5s;
    top: -4rem ;
}
.life-header-normal {
    top: 0 !important;
}
.life-container {
    display: block;
    position: relative;
}
.life-item {
    width: 100%;
    margin-top: 30px;
}

@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}

.life-ackground-line {
    position: absolute;
    left: 50%;
    width: 6px;
    top: -5.17rem;
    background: #ffffff;
    box-shadow: 0px 0px 6px 1px #00000030;
}
.time_line_point{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    margin-left: -5px;
    z-index: 99;
}
.time_line_point::after {
    content: "";
    display: block;
    box-shadow: 0px 0px 6px 1px #00000030;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

.time_item_box {
    position: relative;
    width: 46%;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 25px -15px #0000004d;
    cursor: pointer;
    visibility: hidden;
}
.time_item_box a {
    text-decoration: none;
    color: #333;
}

.time_item_box_left::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 18px;
    right: -10px;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent white;
}
.time_item_image_header  img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.time_item_image_header {
    position: relative;
    min-height: 42px;
}
.time_item_image_header h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 340px;
}
.time_item_date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
}
.time_item_box p {
    padding: 0px 10px 10px 10px;
}
.time_item_box_left  .time_item_date {
    right: 0;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.time_item_box_right  .time_item_date {
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.time_item_box_right {
    float: right;
}
.time_item_box_right::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 18px;
    left: -10px;
    border-width: 7px 10px 7px 0px;
    border-color: transparent white transparent transparent;
}
.nopic {
    color: black !important;
}
.time_item_box_right  .nopic {
    padding-left: 90px;
    width: 330px !important;
}
.life-item::after {
    content: "";
    display: block;
    clear: both;
}
.toolbox,.aboutbox {
    background: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.x:hover {
    animation: shake-it .5s reverse infinite cubic-bezier(.68,-.55,.27,1.55);
}

@-moz-keyframes shake-it {
    0% {
        text-shadow:0 0 rgba(0,255,255,0.5),0 0 rgba(255,0,0,0.5)
    }
    25% {
        text-shadow:-2px 0 rgba(0,255,255,0.5),2px 0 rgba(255,0,0,0.5)
    }
    50% {
        text-shadow:-5px 0 rgba(0,255,255,0.5),3px 0 rgba(255,0,0,0.5)
    }
    100% {
        text-shadow:3px 0 rgba(0,255,255,0.5),5px 0 rgba(255,0,0,0.5)
    }
}@-webkit-keyframes shake-it {
     0% {
         text-shadow:0 0 rgba(0,255,255,0.5),0 0 rgba(255,0,0,0.5)
     }
     25% {
         text-shadow:-2px 0 rgba(0,255,255,0.5),2px 0 rgba(255,0,0,0.5)
     }
     50% {
         text-shadow:-5px 0 rgba(0,255,255,0.5),3px 0 rgba(255,0,0,0.5)
     }
     100% {
         text-shadow:3px 0 rgba(0,255,255,0.5),5px 0 rgba(255,0,0,0.5)
     }
 }@-o-keyframes shake-it {
      0% {
          text-shadow:0 0 rgba(0,255,255,0.5),0 0 rgba(255,0,0,0.5)
      }
      25% {
          text-shadow:-2px 0 rgba(0,255,255,0.5),2px 0 rgba(255,0,0,0.5)
      }
      50% {
          text-shadow:-5px 0 rgba(0,255,255,0.5),3px 0 rgba(255,0,0,0.5)
      }
      100% {
          text-shadow:3px 0 rgba(0,255,255,0.5),5px 0 rgba(255,0,0,0.5)
      }
  }@keyframes shake-it {
       0% {
           text-shadow:0 0 rgba(0,255,255,0.5),0 0 rgba(255,0,0,0.5)
       }
       25% {
           text-shadow:-2px 0 rgba(0,255,255,0.5),2px 0 rgba(255,0,0,0.5)
       }
       50% {
           text-shadow:-5px 0 rgba(0,255,255,0.5),3px 0 rgba(255,0,0,0.5)
       }
       100% {
           text-shadow:3px 0 rgba(0,255,255,0.5),5px 0 rgba(255,0,0,0.5)
       }
   }