<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{title}}{{seo}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://janiokq-1258515721.cos.ap-guangzhou.myqcloud.com/icon.ico">
    <link href="https://janiokq-1258515721.cos.ap-guangzhou.myqcloud.com/base.min.css" rel="stylesheet" />
    <script src="https://janiokq-1258515721.cos.ap-guangzhou.myqcloud.com/highlight.min.js"></script>
    <script src="https://janiokq-1258515721.cos.ap-guangzhou.myqcloud.com/client.js"></script>

    {% block head %}{% endblock %}
  </head>
</head>
<body>
<div id="content">

  <header class="main-header" id="mainHeader">
    <div class="AppbarContainer" >
      <nav class="appbarNav">
        <ul class="nav-list">
          <li>
            <a href="/blog" class="titleActivation" >Blog</a>
          </li>
          <li>
            <a href="/life">Life</a>
          </li>
          <li>
            <a href="/tool">Tool</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="view-container" >

    <div class="entry-list-container-article">

      <div class="ArticleContentBody" >
          {% block content %}{% endblock %}
      </div>

      <div id="waline"></div>


    </div>
    <div class="entry-sidebar needPostionRelative">

      <div class="fixedPosition">




        {% if recommend_article.len() > 0 -%}

        <div class="relatedRecommend">
          <span class="friendshipLinktitle">Recommend</span>
          {% for article in recommend_article %}
                <div class="RecommendItemArticle">
                  <a href="/article/{{article.id}}" title="{article.title}}" >
                    <p class="reArticleTitle">{{article.title}}</p>
                    <p class="reArticleTime">{{article.create_time}}</p>
                  </a>
                </div>
          {% endfor %}

        </div>

        {% endif -%}




        <div class="CopyrightInformation">
          <span class="friendshipLinktitle">Copyright</span>
          {{copyright|safe}}
        </div>

      </div>



    </div>
  </div>

</div>

</body>
<script type="text/javascript" >
  hljs.highlightAll();
    Waline({
      el: '#waline',
      serverURL: 'https://waline-6g5igrgs2de17dc5-1258515721.ap-guangzhou.app.tcloudbase.com/',
      visitor: true,
      avatar: 'monsterid',
      uploadImage:false,
    });
    window.onload = function(){
      var padding=[0,5,10,15,20];//Generated directory
      var directory = '<div style="left: 10px;max-width: 200px;background: white;border-radius: 6px;padding: 5px;font-size: 0.9rem;margin-top: 10px;" >';
      var nodes = document.getElementsByClassName("ArticleContentBody")[0].querySelectorAll('h1,h2,h3,h4,h5');
      for(index=0;index<nodes.length;index++){
          var value = nodes[index];
          tag = '<a name="c'+index+'"></a>';
          value.insertAdjacentHTML('beforebegin', tag);
          var tagName=value.tagName.toLowerCase();
          var tagIndex=parseInt(tagName.charAt(1))-1;//
          directory+='<a href="#c'+index+'" style="padding-left:'+padding[tagIndex]+'px;display: block;color: #000000;text-decoration: none !important;overflow: hidden;height: 1.5rem;line-height: 1.5rem;">'+value.innerHTML+'</a>';
      }
      directory+="</div>";
      if(nodes.length>0){
        document.getElementsByClassName("relatedRecommend")[0].insertAdjacentHTML('afterend',directory);
      }
    }
</script>
</html>
